/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 500px;
}

.form-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.form-wrapper.signup {
  transform: rotate(8deg);
}

.form-wrapper h2 {
  font-size: 30px;
  color: #222;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
}

.box {
  position: relative;
  width: 320px;
  height: 50px;
  margin: 30px 0;
}

.box input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #222;
  padding: 0 10px;
  background: none;
  outline: none;
  border: 1px solid #222;
  border-radius: 5px;
}

.box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #222;
  pointer-events: none;
  padding: 0 5px;
  transition: 0.5s;
}

.box input:focus ~ label,
.box input:valid ~ label {
  top: 0;
  font-size: 12px;
  background: #fff;
}

.pass {
  margin: -15px 0 15px;
}

.pass a {
  color: #222;
  font-size: 14px;
  text-decoration: none;
}

.pass a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 50px;
  background: #222;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.toggle-link {
  font-size: 14px;
  text-align: center;
  margin: 25px 0;
  color: #222;
}

.toggle-link a {
  text-decoration: none;
  font-weight: 500;
}

.toggle-link a:hover {
  text-decoration: underline;
}

.wrapper.signinAnim .form-wrapper.signup {
  animation: animRotate 0.7s ease-in-out forwards;
  animation-delay: 0.3s;
}

@keyframes animRotate {
  0% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
    z-index: 1;
  }
}

.wrapper.signinAnim .form-wrapper.signin {
  animation: animSignin 1.5s ease-in-out forwards;
}

@keyframes animSignin {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-450px);
  }
  100% {
    transform: translateX(0) rotate(8deg);
  }
}

.wrapper.signupAnim .form-wrapper.signin {
  transform: rotate(8deg);
  animation: animRotate 0.7s ease-in-out forwards;
  animation-delay: 0.3s;
}

.wrapper.signupAnim .form-wrapper.signup {
  animation: animSignup 1.5s ease-in-out forwards;
}

@keyframes animSignup {
  0% {
    transform: translateX(0);
    z-index: 1;
  }
  50% {
    transform: translateX(450px);
  }
  100% {
    transform: translateX(0) rotate(8deg);
  }
}
